<!DOCTYPE html>
<html lang="en">

<head>
    <title>Student Connect </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/table.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/"><span>Student</span> Connect</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>

                    <li class="nav-item "><a href="/logout" class="nav-link">Logout</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->


    <section class="bgimage">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-6 hero-text-class">
                        <h3 class="bannerh5">Hello, world! Full width Hero-unit header</h3>
                        <h6>This is a template for a simple marketing or informational website. It includes a large
                            callout
                            called the hero unit and three supporting pieces of content. Use it as a starting point to
                            create something more unique.</h6>
                        <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <section>
        <div class="container-fluid time-tabel">
            <br><br><br>

            <h2 style="display: flex; justify-content: center;align-items: center; padding-top: 30px;">Have a look at
                the schedule
            </h2>
            <br><br>

            <table border="0" align="center" width="80%" cellpadding="10" cellspacing="0">

                <tr>
                    <td>
                        <table border="2" width="100%" cellpadding="10" cellspacing="0" bordercolor="#000000">
                            <tr bgcolor="#EBEBEB">
                                <td align="center"><b>Sr.No.</b></td>
                                <td align="center"><b>TIME</b></td>
                                <td align="center" colspan="2"><b>MON</b></td>
                                <td align="center" colspan="2"><b>TUE</b></td>
                                <td align="center" colspan="2"><b>WED</b></td>
                                <td align="center" colspan="2"><b>THU</b></td>
                                <td align="center" colspan="2"><b>FRI</b></td>
                                <td align="center"><b>SAT(1<sup>st</sup>,3<sup>rd</sup>,5<sup>th</sup>)</b></td>
                            </tr>
                            <tr>
                                <td align="center">1</td>
                                <td align="center">07:30 - 08:30</td>
                                <td align="center" rowspan="2"><b>A<br>SE<br>NJ</b></td>
                                <td align="center" rowspan="2" bgcolor="#EBEBEB"><b>B<br>WT<br>TCC</b></td>
                                <td align="center" rowspan="2"><b>A<br>AJ<br>ANR</b></td>
                                <td align="center" rowspan="2" bgcolor="#EBEBEB"><b>B<br>DNT<br>PPB</b></td>
                                <td align="center" rowspan="2"><b>A<br>DCDR<br>PJM</b></td>
                                <td align="center" rowspan="2" bgcolor="#EBEBEB"><b>B<br>SE<br>NJ</b></td>
                                <td align="center" rowspan="2"><b>A<br>WT<br>TCC</b></td>
                                <td align="center" rowspan="2" bgcolor="#EBEBEB"><b>B<br>AJ<br>ANR</b></td>
                                <td align="center" rowspan="2"><b>A<br>DNT<br>PPB</b></td>
                                <td align="center" rowspan="2" bgcolor="#EBEBEB"><b>B<br>DCDR<br>PJM</b></td>
                                <td align="center" rowspan="2">SE<br>NJ</td>
                            </tr>
                            <tr>
                                <td align="center">2</td>
                                <td align="center">07:30 - 08:30</td>
                            </tr>
                            <tr bgcolor="#EBEBEB">
                                <td></td>
                                <td align="center"><b>09:30 - 09:40</b></td>
                                <td colspan="11" align="center"><b>TEA BREAK</b></td>
                            </tr>
                            <tr>
                                <td align="center">3</td>
                                <td align="center">09:40 - 10:40</td>
                                <td align="center" colspan="2">WT<br>TCC</td>
                                <td align="center" colspan="2">SE<br>NJ</td>
                                <td align="center" colspan="2">DNT<br>PPB</td>
                                <td align="center" colspan="2">WT<br>TCC</td>
                                <td align="center" colspan="2">DNT<br>PPB</td>
                                <td align="center" colspan="2" rowspan="2">WT<br>TCC</td>
                            </tr>
                            <tr>
                                <td align="center">4</td>
                                <td align="center">10:40 - 11:35</td>
                                <td align="center" colspan="2">DCDR<br>PJM</td>
                                <td align="center" colspan="2">WT<br>TCC</td>
                                <td align="center" colspan="2">SE<br>NJ</td>
                                <td align="center" colspan="2">AJ<br>ANR</td>
                                <td align="center" colspan="2">DCDR<br>PJM</td>
                            </tr>
                            <tr bgcolor="#EBEBEB">
                                <td></td>
                                <td align="center"><b>11:35 - 11:55</b></td>
                                <td colspan="11" align="center"><b>TEA BREAK</b></td>
                            </tr>
                            <tr>
                                <td align="center">5</td>
                                <td align="center">11:55 - 12:55</td>
                                <td align="center" colspan="2">DNT<br>PPB</td>
                                <td align="center" colspan="2" rowspan="2">AJ<br>JBT<br>LAB13</td>
                                <td align="center" colspan="2">AJ<br>ANR</td>
                                <td align="center" colspan="2">DNT<br>PPB</td>
                                <td align="center" colspan="2">DCDR<br>PJM</td>
                                <td align="center" colspan="2" rowspan="2">DE - IIB<br>PJM</td>
                            </tr>
                            <tr>
                                <td align="center">6</td>
                                <td align="center">12:55 - 1:50</td>
                                <td align="center" colspan="2">SE<br>NJ</td>
                                <td align="center" colspan="2">CRP-SS<br>RM</td>
                                <td align="center" colspan="2">CRP-QA<br>PK</td>
                                <td align="center" colspan="2">AJ<br>ANR</td>
                            </tr>

                            <tr>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="2" width="100%" cellpadding="2" cellspacing="0" bordercolor="#000000">
                            <tr bgcolor="#EBEBEB">
                                <td align="center"><b>SUBJECT NAMES AND CODES</b></td>
                                <td align="center"><b>LAB PREMISES</b></td>
                                <td align="center"><b>FACULTY INTIALS AND NAMES</b></td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0">
                                        <tr>
                                            <td>
                                                <ol>
                                                    <b>
                                                        <li>SE</li>
                                                    </b>
                                                    <b>
                                                        <li>AJ</li>
                                                    </b>
                                                    <b>
                                                        <li>WT</li>
                                                    </b>
                                                    <b>
                                                        <li>DCDR</li>
                                                    </b><br>
                                                    <b>
                                                        <li>DNT</li>
                                                    </b>
                                                    <b>
                                                        <li>DE-IIB</li>
                                                    </b>
                                                </ol>
                                                <br>

                                            </td>
                                            <td align="center">
                                                2160701<br>
                                                2160707<br>
                                                2160708<br>
                                                2161603<br><br>
                                                2160711<br>
                                                2160001<br>
                                                <br>
                                            </td>
                                            <td>
                                                SOFTWARE ENGINEERING<br>
                                                ADAVANCE JAVA<br>
                                                WEB TECHNOLOGY<br>
                                                DATA COMPRESSION ANO DATA<br> RETRIVAI<br>
                                                .NET TECHNOLOGY<br>
                                                DESIGN ENGINEERING - IIB<br><br>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <ul>
                                                    <b>
                                                        <li>SE</li>
                                                    </b>
                                                    <b>
                                                        <li>AJ</li>
                                                    </b>
                                                    <b>
                                                        <li>WT</li>
                                                    </b>
                                                    <b>
                                                        <li>DCDR</li>
                                                    </b>
                                                    <b>
                                                        <li>DNT</li>
                                                    </b>
                                                </ul>
                                                <br><br><br>
                                            </td>
                                            <td>
                                                MC202 LAB-2<br>
                                                MC202 A:LAB-3 B:LAB-2<br>
                                                MC202 LAB-3<br>
                                                MC202 LAB-3<br>
                                                MC202 LAB-2<br><br><br><br>
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <dl>
                                                    <b>
                                                        <dt>JBT</dt>
                                                    </b>
                                                    <b>
                                                        <dt>PPB</dt>
                                                    </b>
                                                    <b>
                                                        <dt>NJ</dt>
                                                    </b>
                                                    <b>
                                                        <dt>TCC</dt>
                                                    </b>
                                                    <b>
                                                        <dt>PJM</dt>
                                                    </b>
                                                    <b>
                                                        <dt>PK</dt>
                                                    </b>
                                                    <b>
                                                        <dt>RM</dt>
                                                    </b>
                                                    <b>
                                                        <dt>ARN</dt>
                                                    </b>
                                                </dl>
                                            </td>
                                            <td>
                                                <dl>
                                                    <dd>PROF. JAY TERAYIA</dd>
                                                    <dd>PROF. PRIYANKA BUCH</dd>
                                                    <dd>PROF. NAVJYOTSHIH JADEJA</dd>
                                                    <dd>PROF. TEJAS CHAUHAN</dd>
                                                    <dd>PROF. PRATITI MANKODI</dd>
                                                    <dd>PROF. PRASHANT KACHHELA</dd>
                                                    <dd>PROF. RACHITA MEHTA</dd>
                                                    <dd>PROF. ANJANA NAGARIA</dd>
                                                </dl>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" width="100%" cellpadding="10" cellspacing="0">
                            <tr></tr>
                            <tr height="100px">
                                <td align="center"><b>OFFLINE TIME-TABLE<br>INCHARGE</b></td>
                                <td align="center"><b>ONLINE TIME-TABLE<br>INCHARGE</b></td>
                                <td align="center"><b>H.O.D</b></td>
                                <td align="center"><b>DEAN</b></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </section>








    <section>

        <h2 style="display: flex; justify-content: center;align-items: center; padding-top: 30px;">Book an Appointment
        </h2>

        <div class="container-fluid time-tabel-container shadow-lg   bg-white rounded">
            <!-- style=" " -->
            <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <form action="/home" id="ft-form" method="POST">
                        <fieldset>

                            <label>
                                Name
                                <input type="text" name="name" required>
                            </label>
                            <div class="two-cols">
                                <label>
                                    Email address
                                    <input type="email" name="email" required>
                                </label>
                                <label>
                                    Phone number
                                    <input type="tel" name="phone">
                                </label>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Appointment request</legend>
                            <div class="two-cols">
                                <label>
                                    Date
                                    <input type="date" name="date" required>
                                </label>
                                <!-- <div class="inline">
                                    <label>
                                        <input type="hidden" name="Morning desired" value="no">
                                        <input type="checkbox" name="Morning desired" value="yes">
                                        Morning
                                    </label>
                                    <label>
                                        <input type="hidden" name="Afternoon desired" value="no">
                                        <input type="checkbox" name="Afternoon desired" value="yes">
                                        Afternoon
                                    </label>
                                </div> -->
                            </div>
                            <p>Confirmation requested by</p>
                            <div class="inline">
                                <label>
                                    <input type="radio" name="emailradio" value="email" checked>
                                    Email
                                </label>
                                <label>
                                    <input type="radio" name="phoneradio" value="phone">
                                    Phone call
                                </label>
                            </div>
                        </fieldset>
                        <div class="btns">

                            <input type="submit" value="Submit request" class="">
                        </div>
                    </form>

                </div>
            </div>
        </div>


    </section>
    <!-- Time Tabel -->




    <!-- footer -->


    <br><br>
    <footer class="ftco-footer ftco-no-pt">
        <div class="container">

            <div class="row">
                <div class="col-md-12 text-center">

                    <p style="padding-top: 44px;">

                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved by Student
                        Connect

                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00" />
        </svg></div>


    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>

    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

</body>

</html>